$headerBackground: linear-gradient(to right, #5b86ff, #7eabff, #aac6ff, #d4b3ff);
/*
$headerBackground1: linear-gradient(to right, #0059b0, #007ef5, #8b2eff, #a354ff);
$headerBackground1: linear-gradient(to right, #0b3a72, #2174c2, #3552ff, #65a3ff);
$headerBackground1: linear-gradient(to right, #2f0db4, #4ea7ff, #6827c0, #9c4bff);
*/
$headerFontColor: rgb(253, 253, 253);
$underlineColor: rgb(152, 221, 255);